.about{
margin: 30px auto;
}

.about_box{
height:190px;
width:320px;
background:#FFF;
border:3px solid #BC8CBF;
margin:20px 20px 0px 0px;
padding:30px 20px 0px 20px;
float:left;
font-size:15px;
}

li.about_float
{
list-style-type:none;
float:left;
}

.about_top{
margin-top:80px;
text-align:center;
font-weight:bold;
color:#005B7F;
}