.contact_container{
width: 600px;
margin: 70px auto;
padding-left:20px;
background: #FFF;
border: 3px dashed #BC8CBF;
}

.form_container{
width:380px;
margin: 10px auto 20px auto;
background:#BC8CBF;
border: 3px solid #005B7F;
}

.contact_form_container{
width: 325px;
margin: 10px auto;
color:#4E1C62;
}