.fun_facts{ 
width:830px;
margin:0 auto;
padding:20px 30px;
background:#FFF;
border: 3px solid #BC8CBF;
}
.fun_facts ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#4E1C62; 
}

.fun_facts ol li{
list-style-type:decimal;
}

.fun_facts ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #BC8CBF;
}
