.homepage{
	margin:60px auto 20px auto;
	width:900px;
}

.box1 {
	border: 3px solid #BC8CBF;
	background:#FFF;
	color:#005B7F;
	padding:0 20px;
}

.cite2 ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#4E1C62; 
}

.cite2 ol li{
list-style-type:decimal;
}

.cite2 ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #BC8CBF;
}