body{
background: #9EC5FF;
}

td{
    font-family:arial;
	text-align:left;
}

ul.nav
/*unordered whole list*/
{
	list-style-type:none; /*removes any bullets*/
	overflow:hidden; /*defines what to do if content exceeds the size of the element's box*/
	position: fixed;
	top: 0px;
	right:0px;
	left:50%
}

li{
	list-style-type:none;
}

li.nav_float
/* this section is the the list items!   */
{
	float:left;
	margin-right: 0px;
}

a.nav_links:link,a.nav_links:visited  /*a:link {color:#FF0000;}     unvisited link can change color after visited*/
{
	display:block;
	width:100px;
	height:30px;
	padding-top:30px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#BC8CBF;
	text-align:center;
	padding:0px;
	text-decoration:none;
}
a.nav_links:hover, a.nav_links:active
{
color:#4E1C62;
}

.container { 
    margin:0 auto; 
    overflow:auto; 
    padding-top: 0px;
    width:96%; 
}

.banner, a.banner:link, a.banner:visited, a.banner:hover, a.banner:active{
	display:block;
	background-image: url(../images/banner.png);
	background-color:#BC8CBF;
	background-size:100%;
	height:52px;
	width:281px;
}

.header { 
    background:#BC8CBF; 
    box-shadow:0px 0px 5px #000; 
    height:55px; 
    left:0;
    top:0; 	
    position:fixed; 
    width:100%; 
	z-index:500;
}

.footer {
	color:white;
	text-align:center;
    background:#BC8CBF; 
    height:25px;
	padding-top:5px;
	font-size:14px;
}

.plain, a.plain:link, a.plain:visited{
	color:#4E1C62;
	text-decoration:none;
	font-weight:bold;
}

a.plain:hover{
color:#BC8CBF;
}

.simple, a.simple:link, a.simple:visited{
	color:#BC8CBF;
	text-decoration:none;
	font-weight:bold;
}

a.simple:hover{
	color:#9E0B0F;
}

.wrapper{
	margin: -20px auto 0px auto;
	left:100px;
	width:833px; 
	height:520px;
}

.thanks{
	margin-top:-16px; 
	text-align:center;
	color:#005B7F;
	font-size:14px;
}

.style_change{
	position:fixed;
	top: 80%;
	left:0px;
	height:100px;
	width: 200px;
	padding:10px;
	background-color:#005B7F;
	color:#FFF;
	font-size:14px;
	z-index:2;
}

.return_profile{
	position:fixed;
	top: 80%;
	right:0px;
	height:100px;
	width: 200px;
	padding:10px;
	background-color:#005B7F;
	color:#FFF;
	font-size:14px;
	z-index:2;
	text-align:center;
}

a.return_profile_style{
	color:#FFF;
}

.heading {
margin:60px auto 0 auto;
width:900px;
}

.cite{ 
width:830px;
margin:2px auto 0 auto;
padding:20px 30px;
background:#FFF;
border: 3px solid #BC8CBF;
}
.cite ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#4E1C62; 
}

.cite ol li{
list-style-type:decimal;
}

.cite ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #BC8CBF;
}