/*NOTE: This is a somewhat responsive design for the About Section*/

body{
background: #FFF;
}

td{
    font-family:arial;
	text-align:left;
}

ul.nav
/*unordered whole list*/
{
list-style-type:none; /*removes any bullets*/
overflow:hidden; /*defines what to do if content exceeds the size of the element's box*/
position: fixed;
top: 39px;
left:0px;
}

li{
list-style-type:none;
}

li.nav_float
/* this section is the the list items!   */
{
float:left;
left:0;
}

a.nav_links:link,a.nav_links:visited  /*a:link {color:#FF0000;}     unvisited link can change color after visited*/
{
display:block;
width:100px;
height:30px;
padding-top:30px;
font-weight:bold;
color:#FFFFFF;
background-color:#005B7F;
text-align:center;
padding:0px;
text-decoration:none;
}
a.nav_links:hover, a.nav_links:active
{
color:#4E1C62;
}

.container { 
    margin:0 auto 80px auto; 
    overflow:auto; 
    padding-top: 0px;
    width:96%; 
}

.banner, a.banner:link, a.banner:visited, a.banner:hover, a.banner:active{
	display:block;
	background-image: url(banner.png);
	background-color:#005B7F;
	background-size:100%;
	height:52px;
	width:281px;
}

.header { 
    background:#005B7F; 
    box-shadow:0px 0px 5px #000; 
    height:55px; 
    left:0;
    top:0; 	
    position:fixed; 
    width:100%; 
}

.footer {
	color:white;
	text-align:right;
    background:#005B7F; 
    height:25px;
	padding-top:5px;
	font-size:14px;
}

.plain, a.plain:link, a.plain:visited{
	color:#4E1C62;
	text-decoration:none;
	font-weight:bold;
}

a.plain:hover{
color:#9E0B0F;
}

.simple, a.simple:link, a.simple:visited{
	/*background:#005B7F;*/
	color:#005B7F;
	text-decoration:none;
	font-weight:bold;
}

a.simple:hover{
color:#9E0B0F;
}

.about_top{
margin-top:150px;
text-align:center;
font-weight:bold;
color:#4E1C62;
}

.wrapper{
margin: 0px auto 0px -40px; 
width:480px; 
height:1000px;
}

.thanks{
margin-top:10px; 
margin-bottom:50px;
text-align:center;
color:#4E1C62;
font-size:14px;
}