body{
background: #FFF;
}

td{
    font-family:arial;
	text-align:left;
}

ul.nav
/*unordered whole list*/
{
	list-style-type:none; /*removes any bullets*/
	overflow:hidden; /*defines what to do if content exceeds the size of the element's box*/
	position: fixed;
	top: 0px;
	right:0px;
	left:50%
}

li{
	list-style-type:none;
}

li.nav_float
/* this section is the the list items!   */
{
	float:left;
	margin-right: 0px;
}

a.nav_links:link,a.nav_links:visited  /*a:link {color:#FF0000;}     unvisited link can change color after visited*/
{
	display:block;
	width:100px;
	height:30px;
	padding-top:30px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#005B7F;
	text-align:center;
	padding:0px;
	text-decoration:none;
}
a.nav_links:hover, a.nav_links:active
{
color:#005B7F;
}

.container { 
    margin:0 auto; 
    overflow:auto; 
    padding-top: 0px;
    width:96%; 
}

.banner, a.banner:link, a.banner:visited, a.banner:hover, a.banner:active{
	display:block;
	background-image: url(banner.png);
	background-color:#005B7F;
	background-size:100%;
	height:52px;
	width:281px;
}

.header { 
    background:#005B7F; 
    box-shadow:0px 0px 5px #000; 
    height:55px; 
    left:0;
    top:0; 	
    position:fixed; 
    width:100%; 
	z-index:200;
}

.footer {
	color:white;
	text-align:center;
    background:#005B7F; 
    height:25px;
	padding-top:5px;
	font-size:14px;
}

.plain, a.plain:link, a.plain:visited{
	color:#4E1C62;
	text-decoration:none;
	font-weight:bold;
}

a.plain:hover{
color:#9E0B0F;
}

.simple, a.simple:link, a.simple:visited{
	color:#005B7F;
	text-decoration:none;
	font-weight:bold;
}

a.simple:hover{
	color:#9E0B0F;
}

.wrapper{
	margin: -20px auto 0px auto;
	left:100px;
	width:833px; 
	height:520px;
}

.thanks{
	margin-top:-16px; 
	text-align:center;
	color:#005B7F;
	font-size:14px;
}

.style_change{
	position:fixed;
	top: 80%;
	left:0px;
	height:100px;
	width: 200px;
	padding:10px;
	background-color:#005B7F;
	color:#FFF;
	font-size:14px;
	z-index:2;
}

.heading {
margin:60px auto 0 auto;
width:900px;
}

.cite{ 
width:830px;
margin:2px auto 0 auto;
padding:20px 30px;
background:#FFF;
border: 3px solid #005B7F;
}
.cite ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#005B7F; 
}

.cite ol li{
list-style-type:decimal;
}

.cite ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #005B7F;
}

.homepage{
	margin:60px auto 20px auto;
	width:900px;
}

.box1 {
	border: 3px solid #005B7F;
	background:#FFF;
	color:#005B7F;
	padding:0 20px;
}

.cite2 ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#005B7F; 
}

.cite2 ol li{
list-style-type:decimal;
}

.cite2 ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #005B7F;
}

.history{
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	width:898px;
	height:1570px;
	margin:0 auto;
	padding:20px 30px;
	background:#FFF;
	border: 3px solid #006666;
}

@-moz-document url-prefix() { 
	.history{
		font-family: Helvetica, Arial, sans-serif;
		box-sizing: border-box;
		width:830px; /*mozilla*/
		height:1500px;
		margin:0 auto;
		padding:20px 30px;
		background:#FFF;
		border: 3px solid #006666;
	}
}

.history_responsive{
	width:500px;
	margin: 0 auto;
}

.timeline {
	width: 400px;
}
.timeline .timeline-item {
	width: 100%;
}
.timeline .timeline-item .info, .timeline .timeline-item .year {
	color: #999;
	display: block;
	float:left;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.timeline .timeline-item.close .info, .timeline .timeline-item.close .year {
	color: #ccc;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.timeline .timeline-item .year {
	font-size: 24px;
	font-weight: bold;
	width: 22%;
}
.timeline .timeline-item .info 
 {
	 width: 100%;
	 width: 78%;
	 margin-left: 86px;
	 padding: 0 0 40px 35px;
	 border-left: 4px solid #aaa;
	 font-size: 14px;
	 line-height: 20px;
   }
.timeline .timeline-item .marker {
	background-color: #fff;
	border: 4px solid #aaa;
	height: 20px;
	width: 20px;
	border-radius: 100px;
	display: block;
	float: right;
	margin-right: -14px;
	z-index: 0;
	position: relative;
}
.timeline .timeline-item.active .info, .timeline .timeline-item:hover .info {
	color: #444;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.timeline .timeline-item.active .year, .timeline .timeline-item:hover .year {
	color: #4E1C62;
}
.timeline .timeline-item .marker .dot {
	background-color: white;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	display: block;
	border: 4px solid white;
	height: 12px;
	width: 12px;
	border-radius: 100px;
	float: right;
	z-index: 2000;
	position: relative;
}
.timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	background-color: #006666;
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.fun_facts{ 
width:830px;
margin:0 auto;
padding:20px 30px;
background:#FFF;
border: 3px solid #005B7F;
}
.fun_facts ol{
font-family:Times;
font-style:italic;
font-size:24px;
color:#005B7F; 
}

.fun_facts ol li{
list-style-type:decimal;
}

.fun_facts ol li p{
padding:8px; 
font-family:Arial;
font-style:normal;
font-size:13px; 
color:#005B7F;
border-left: 3px solid #005B7F;
}
/* Hide checkbox.*/

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

div{
    font-family:arial;
}

label{ 
    width:100%;
    height:35px;
    font-family:arial;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    padding-top:5px;
    display: inline-block;
    margin-bottom: 3px;
    cursor: pointer;
}

#person_template{
    background-image:url(Tutorial_Images/mister.gif); 
    background-repeat:no-repeat; 
    height:380px;
	background-position:center; 
	border:3px solid white;
}

.letter-options{
    font-weight:bold;
    font-size:30px;
	color:#9E0B0F;
    cursor: pointer;
}

a:hover, a:active
{
color:#005B7F;
}

/* Default State */
#hand{
    height:111px;
    width:111px;
    margin-top: 10px;
    position:relative;
}

.reposition_Q { 
	margin-top:100px;
	margin-left:-40px;
}

.none {
    position:relative;
}

/* Toggled State */
input[type=checkbox]:checked + .animate_J {
    position:relative;
    -webkit-animation:J_movement 1s linear normal; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
	animation:J_movement 1s linear normal;
    animation-fill-mode: forwards;
}

input[type=checkbox]:not(:checked) + .animate_Z {
	margin-top:100px;
	margin-left:50px;
}   

input[type=checkbox]:checked + .animate_Z {
    position:relative;
    -webkit-animation:Z_movement 2s linear normal; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    animation:Z_movement 2s linear normal;
	animation-fill-mode: forwards;
}
   
@keyframes J_movement
{
	0%   {left:175px; top:100px; background-position:0 0px;}
	1%   {left:175px; top:100px;}
	50%  {transform: rotate(-60deg); left:165px; top:145px; background-position:0 0px;}
	59.99%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 0px;}
	60%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 -121px;}
	75%  {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
	100% {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
}

@-webkit-keyframes J_movement /* Safari and Chrome */
{
	0%   {left:175px; top:100px; background-position:0px 0px;}
	1%   {left:175px; top:100px;}
	50%  {transform: rotate(-60deg); left:165px; top:145px; background-position:0 0px;}
	59.99%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 0px;}
	60%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 -121px;}
	75%  {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
	100% {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
}

@keyframes Z_movement
{
	0%   {left:265px; top:100px; background-position:0px -111px;}
	20%  {background-position:0px -111px;}
	20.01% {background-position:0px -111px;}
	40%  {left:155px; top:100px; background-position:0px -111px;}
	40.01% {left:155px; top:105px; background-position:0px 0px;} 
	60%  {background-position:0 0px;}
	84.99%  {left:265px; top:180px; background-position:0 0px;}
	85% {left:265px; top:180px; background-position:0 -115px;}
	100% {left:175px; top:180px; background-position:0 -115px;}
}

@-webkit-keyframes Z_movement /* Safari and Chrome */
{
	0%   {left:265px; top:100px; background-position:0px -111px;}
	20%  {background-position:0px -111px;}
	20.01% {background-position:0px -111px;}
	40%  {left:155px; top:100px; background-position:0px -111px;}
	40.01% {left:155px; top:105px; background-position:0px 0px;} 
	60%  {background-position:0 0px;}
	84.99%  {left:265px; top:180px; background-position:0 0px;}
	85% {left:265px; top:180px; background-position:0 -115px;}
	100% {left:175px; top:180px; background-position:0 -115px;}
}

#abc_description{
	border:3px dashed white;
	height:50px;
	color:#000;
	background-color:#005B7F;
}

.more{
	position:fixed;
	top: 80%;
	right:0px;
	height:100px;
	width: 200px;
	padding:10px;
	background-color:#005B7F;
	color:#FFF;
	font-size:14px;
}

.about{
margin: 30px auto;
}

.about_box{
height:190px;
width:320px;
background:#FFF;
border:3px solid #005B7F;
margin:20px 20px 0px 0px;
padding:30px 20px 0px 20px;
float:left;
font-size:15px;
}

li.about_float
{
list-style-type:none;
float:left;
}

.about_top{
margin-top:80px;
text-align:center;
font-weight:bold;
color:#005B7F;
}

.contact_container{
display:block; 
margin:55px auto 0px auto;
}