/* Hide checkbox.*/

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

div{
    font-family:arial;
}

label{ 
    width:100%;
    height:35px;
    font-family:arial;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    padding-top:5px;
    display: inline-block;
    margin-bottom: 3px;
    cursor: pointer;
}

#person_template{
    background-image:url(../images/Tutorial_Images/mister.gif); 
    background-repeat:no-repeat; 
    height:380px;
	background-position:center; 
	border:3px solid white;
}

.letter-options{
    font-weight:bold;
    font-size:30px;
	color:#9E0B0F;
    cursor: pointer;
}

a:hover, a:active
{
color:#4E1C62;
}

/* Default State */
#hand{
    height:111px;
    width:111px;
    margin-top: 10px;
    position:relative;
}

.reposition_Q { 
	margin-top:100px;
	margin-left:-40px;
}

.none {
    position:relative;
}

/* Toggled State */
input[type=checkbox]:checked + .animate_J {
    position:relative;
    -webkit-animation:J_movement 1s linear normal; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
	animation:J_movement 1s linear normal;
    animation-fill-mode: forwards;
}

input[type=checkbox]:not(:checked) + .animate_Z {
	margin-top:100px;
	margin-left:50px;
}   

input[type=checkbox]:checked + .animate_Z {
    position:relative;
    -webkit-animation:Z_movement 2s linear normal; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    animation:Z_movement 2s linear normal;
	animation-fill-mode: forwards;
}
   
@keyframes J_movement
{
	0%   {left:175px; top:100px; background-position:0 0px;}
	1%   {left:175px; top:100px;}
	50%  {transform: rotate(-60deg); left:165px; top:145px; background-position:0 0px;}
	59.99%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 0px;}
	60%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 -121px;}
	75%  {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
	100% {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
}

@-webkit-keyframes J_movement /* Safari and Chrome */
{
	0%   {left:175px; top:100px; background-position:0px 0px;}
	1%   {left:175px; top:100px;}
	50%  {transform: rotate(-60deg); left:165px; top:145px; background-position:0 0px;}
	59.99%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 0px;}
	60%  {transform: rotate(-20deg); left:235px; top:150px; background-position:0 -121px;}
	75%  {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
	100% {transform: rotate(-10deg); left:235px; top:150px; background-position:0 -121px;}
}

@keyframes Z_movement
{
	0%   {left:265px; top:100px; background-position:0px -111px;}
	20%  {background-position:0px -111px;}
	20.01% {background-position:0px -111px;}
	40%  {left:155px; top:100px; background-position:0px -111px;}
	40.01% {left:155px; top:105px; background-position:0px 0px;} 
	60%  {background-position:0 0px;}
	84.99%  {left:265px; top:180px; background-position:0 0px;}
	85% {left:265px; top:180px; background-position:0 -115px;}
	100% {left:175px; top:180px; background-position:0 -115px;}
}

@-webkit-keyframes Z_movement /* Safari and Chrome */
{
	0%   {left:265px; top:100px; background-position:0px -111px;}
	20%  {background-position:0px -111px;}
	20.01% {background-position:0px -111px;}
	40%  {left:155px; top:100px; background-position:0px -111px;}
	40.01% {left:155px; top:105px; background-position:0px 0px;} 
	60%  {background-position:0 0px;}
	84.99%  {left:265px; top:180px; background-position:0 0px;}
	85% {left:265px; top:180px; background-position:0 -115px;}
	100% {left:175px; top:180px; background-position:0 -115px;}
}

#abc_description{
	border:3px dashed white;
	height:50px;
	color:#4E1C62;
	background-color:#BC8CBF;
}

.more{
	position:fixed;
	top: 80%;
	right:0px;
	height:100px;
	width: 200px;
	padding:10px;
	background-color:#005B7F;
	color:#FFF;
	font-size:14px;
}
